<div class="columns-container">
  <div class="columns-box">
    <div class="columns-form">
      <div class="columns-table">
        <table>
          <thead>
            <th>Elemento</th>
            <th>Nomenclatura</th>
            <th>Resistencia Concreto ⮕ kg/cm²</th>
            <th>Area Concreto ⮕ cm²</th>
            <th>Area Acero ⮕ cm²</th>
            <th>Resistencia Acero ⮕ kg/cm²</th>
            <th>Resultado ⮕ <b>ton</b></th>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of counterArray(); let i = index">
              <tr>
                <td>
                  <p [class]="'nombre_' + i">Columna</p>
                </td>
                <td>
                  <input
                    [class]="'elemento_' + i"
                    type="text"
                    inputmode="numeric"
                    (input)="calcResult($event)"
                  />
                </td>
                <td>
                  <input
                    [class]="'resistenciaConcreto_' + i"
                    type="number"
                    inputmode="numeric"
                    (input)="calcResult($event)"
                  />
                </td>
                <td>
                  <input
                    [class]="'areaConcreto_' + i"
                    type="number"
                    inputmode="numeric"
                    (input)="calcResult($event)"
                  />
                </td>
                <td>
                  <input
                    [class]="'areaAcero_' + i"
                    type="number"
                    inputmode="numeric"
                    (input)="calcResult($event)"
                  />
                </td>
                <td>
                  <input
                    [class]="'resistenciaAcero_' + i"
                    type="number"
                    inputmode="numeric"
                    (input)="calcResult($event)"
                  />
                </td>
                <td>
                  <input
                    [class]="'resultado_' + i"
                    type="number"
                    inputmode="numeric"
                    disabled
                  />
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <div class="plusButtonContainer">
          <div class="button-container-left">
            @if (columnItemCounter > 1){
            <button class="plusButton" (click)="retireRows()">
              Eliminar Fila
            </button>
            }
          </div>
          <div class="button-container-center">
            <button class="plusButton" (click)="plusRows()">
              Agregar Fila
            </button>
          </div>
          <div class="total-container">
            <input
              class="result_total"
              type="number"
              inputmode="numeric"
              placeholder="Total"
              disabled
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
