.columns-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100%;
  padding-bottom: 2em;
  .columns-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 3%;
    width: 100%;
    height: 90%;
    background-color: #f9f7fa;
    padding-bottom: 3em;
    .columns-form {
      padding-bottom: 2em;
      padding-top: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      border-radius: 10px;
      background-color: white;
      box-shadow: 1px 1px 3px rgb(0, 0, 0, 0.5);
      .columns-table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
        width: 95%;
        height: 90%;
        table {
          width: 100%;
          height: 100%;
          thead {
            th {
              border-bottom: 1px solid #e0dee1;
              padding-bottom: 1em;
            }
          }
          tbody {
            tr {
              border-bottom: 1px solid #e0dee1;
              td {
                padding-top: 2em;
                padding-bottom: 2em;
                select {
                  width: 100%;
                  border: none;
                  text-align: center;
                  border-top-left-radius: 10px;
                  border-top-right-radius: 10px;
                  border-bottom: 1px solid #b7b6b8;
                  &:focus {
                    outline: none;
                  }
                }
                input {
                  width: 80%;
                  border: none;
                  text-align: center;
                  border-top-left-radius: 10px;
                  border-top-right-radius: 10px;
                  border-bottom: 1px solid #b7b6b8;
                  &:focus {
                    outline: none;
                  }
                }
              }
            }
          }
        }
        .plusButtonContainer {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          width: 100%;
          padding-top: 2em;
          div {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            width: 33%;
            input {
              width: 37%;
              margin-right: 0.8em;
              border: none;
              text-align: center;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              border-bottom: 1px solid #b7b6b8;
              &:focus {
                outline: none;
              }
            }
          }
          .button-container-left {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            .plusButton {
              width: 40%;
              padding: 0.4em;
              background-color: transparent;
              transition: all ease-in-out 0.3s;
              border: none;
              border-bottom: 1px solid;
              &:hover {
                color: rgb(0, 157, 255);
                border-bottom: 1px solid rgb(0, 157, 255);
              }
              &:focus {
                outline: none;
              }
            }
          }
          .button-container-center {
            display: flex;
            justify-content: center;
            align-items: center;
            .plusButton {
              width: 40%;
              padding: 0.4em;
              background-color: transparent;
              transition: all ease-in-out 0.3s;
              border: none;
              border-bottom: 1px solid;
              &:hover {
                color: rgb(0, 157, 255);
                border-bottom: 1px solid rgb(0, 157, 255);
              }
              &:focus {
                outline: none;
              }
            }
          }
          .total-container {
            .result_total {
              text-align: center;
              &::placeholder {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
